<section {{#if $id}}id={{$id}}{{/if}} class=jschemer-schema>

  {{!-- If the schema is a boolean --}}
  {{#isBoolean this}}

    {{#isTrue this}}
      <p>This schema imposes no restrictions. All values are valid.</p>
    {{else}}
      <p>No values are valid for this schema.</p>
    {{/isTrue}}

  {{!-- If the schema is an object --}}
  {{else}}

    <details open>

      {{!-- Meta --}}

      {{#if title}}
        <summary>
          <h1 class='title keyword'>
            {{md title 'inline'}}{{#if @key}}: <code>{{@key}}</code>{{/if}}
          </h1>
        </summary>
      {{else isString @key}}
        <h1 class='key keyword'>
          <code>{{@key}}</code>
        </h1>
      {{/if}}

      {{#if $schema}}
        <p class='$schema keyword'>
          <b>Validate against:</b> <a href='{{$schema}}'>{{$schema}}</a>
        </p>
      {{/if}}

      {{#if $id}}
        <p class='$id keyword'>
          <b>Schema ID:</b> <code>{{$id}}</code>
        </p>
      {{/if}}

      {{#if type}}
        <p class='type keyword'>
          <b>Type:</b> <code>{{type}}</code>
        </p>
      {{/if}}

      {{#isDefined readOnly}}
        <p class='readOnly keyword'>
          <b>Read-only:</b> <code>{{readOnly}}</code>
        </p>
      {{/isDefined}}

      {{#isDefined writeOnly}}
        <p class='writeOnly keyword'>
          <b>Read-only:</b> <code>{{writeOnly}}</code>
        </p>
      {{/isDefined}}

      {{#if description}}
        <section class='description keyword'>
          <h2>Description</h2>
          <div>{{md description}}</div>
        </section>
      {{/if}}

      {{#if $comment}}
        <section class='$comment keyword'>
          <h2>Developer Notes</h2>
          <div>{{md $comment}}</div>
        </section>
      {{/if}}

      {{!-- If the schema is an empty schema --}}
      {{#emptySchema this}}

        <p>This schema imposes no restrictions. All values are valid.</p>

      {{else}}

        {{!-- Definitions --}}

        {{#if definitions}}
          <section class='definitions keyword'>

            <h2>Schema Definitions</h2>

            <p>This schema defines the following subschemas for reuse:</p>

            <ul>
              {{#each definitions}}
                <li>{{> schema this}}</li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{!-- Any --}}

        {{#if $ref}}
          <section class='$ref keyword'>
            <h2>Referenced Schema</h2>
            <p>This item must validate against the following schema:</p>
            <p><a href='{{$ref}}'>{{$ref}}</a></p>
          </section>
        {{/if}}

        {{#isDefined const}}
          <p>This item must have the following value:</p>
          <code><pre>{{json const}}</pre></code>
        {{/isDefined}}

        {{#if enum}}
          <section class='enum keyword'>
            <h2>Allowed Values</h2>
            <ul>
              {{#each enum}}
                <li><pre>{{json this}}</pre></li>
              {{/each}}
            </ul>
          </section>
        {{/if}}

        {{!-- Array --}}

        {{#isDefined minItems}}
          <p class='minItems keyword'>
            <b>Minimum number of items:</b> <code>{{minItems}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined maxItems}}
          <p class='maxItems keyword'>
            <b>Maximum number of items:</b> <code>{{maxItems}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined uniqueItems}}
          <p class='uniqueItems keyword'>
            <b>Items must be unique:</b> <code>{{uniqueItems}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined contains}}
          <section class='contains keyword'>

            <h2>Contains</h2>

            <p>The array must contain at least one element that adheres to the following schema:</p>

            {{> schema contains}}

          </section>
        {{/isDefined}}

        {{#if items}}
          <section class='items keyword'>

            <h2>Items</h2>

            {{#isArray items}}

              <p>The items in this array must adhere to the following schemas, in order:</p>

              <ul>
                {{#each items}}
                  <li>{{> schema this}}</li>
                {{/each}}
              </ul>

            {{else}}

              <p>Each item in this array must adhere to the following schema:</p>

              {{> schema items}}

            {{/isArray}}

          </section>
        {{/if}}

        {{#isDefined additionalItems}}
          <section class='additionalItems keyword'>

            <h2>Additional Items</h2>

            <p>If there are additional items in the array, they must adhere to the following schema:</p>

            {{>schema additionalItems}}

          </section>
        {{/isDefined}}

        {{!-- Numeric --}}

        {{#isDefined minimum}}
          <p class='minimum keyword'>
            <b>Minimum:</b> <code>{{minimum}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined exclusiveMinimum}}
          <p class='exclusiveMinimum keyword'>
            <b>Exclusive minimum:</b> <code>{{exclusiveMinimum}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined maximum}}
          <p class='maximum keyword'>
            <b>Maximum:</b> <code>{{maximum}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined exclusiveMaximum}}
          <p class='exclusiveMaximum keyword'>
            <b>Exclusive maximum:</b> <code>{{exclusiveMaximum}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined multipleOf}}
          <p class='multipleOf keyword'>
            <b>Multiple of:</b> <code>{{multipleOf}}</code>
          </p>
        {{/isDefined}}

        {{!-- Object --}}

        {{#isDefined minProperties}}
          <p class='minProperties keyword'>
            <b>Minimum number of properties:</b> <code>{{minProperties}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined maxProperties}}
          <p class='maxProperties keyword'>
            <b>Maximum number of properties:</b> <code>{{maxProperties}}</code>
          </p>
        {{/isDefined}}

        {{#if required}}
          <section class='required keyword'>

            <h2>Required Properties</h2>

            <ul>
              {{#each required}}
                <li><code>{{this}}</code></li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{#isDefined propertyNames}}
          <section class='propertyNames keyword'>

            <h2>Property Names</h2>

            <p>Each property name in this object must adhere to the following schema:</p>

            {{> schema propertyNames}}

          </section>
        {{/isDefined}}

        {{#if dependencies}}
          <section class='dependencies keyword'>

            <h2>Dependencies</h2>

            <p>This object has the following dependencies between properties:</p>

            <ul>
              {{#each dependencies}}
                <li>
                  {{#isArray this}}

                    <p>If this object has the <code>{{@key}}</code> property, it must have the following properties as well:</p>

                    <ul>
                      {{#each this}}
                        <li>{{this}}</li>
                      {{/each}}
                    </ul>

                  {{else}}

                    <p>If the object has the <code>{{@key}}</code> property, the object must also match the following schema:</p>

                    {{> schema this}}

                  {{/isArray}}
                </li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{#if patternProperties}}
          <section class='patternProperties keyword'>

            <h2>Regular Expression Properties</h2>

            <p>Property names which match one of the following regular expressions must validate against the associated schema.</p>

            <ul>
              {{#each patternProperties}}
                <li>{{> schema this}}</li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{#if properties}}
          <section class='properties keyword'>

            <h2>Properties</h2>

            <p>The following properties are defined for this object:</p>

            {{#each properties}}
              <li>{{> schema this}}</li>
            {{/each}}

          </section>
        {{/if}}

        {{#isDefined additionalProperties}}
          <section class='additionalProperties keyword'>

            <h2>Additional Properties</h2>

            <p>Any additional properties must adhere to the following schema:</p>

            {{> schema additionalProperties}}

          </section>
        {{/isDefined}}

        {{!-- String --}}

        {{#if format}}
          <p class='format keyword'>
            <b>Format:</b> <code>{{format}}</code>
          </p>
        {{/if}}

        {{#isDefined minLength}}
          <p class='minLength keyword'>
            <b>Minimum length:</b> <code>{{minLength}}</code>
          </p>
        {{/isDefined}}

        {{#isDefined maxLength}}
          <p class='maxLength keyword'>
            <b>Maximum length:</b> <code>{{maxLength}}</code>
          </p>
        {{/isDefined}}

        {{#if pattern}}
          <p class='pattern keyword'>
            <b>Regular expression to match:</b> <code>{{pattern}}</code>
          </p>
        {{/if}}

        {{!-- Non-JSON --}}

        {{#if contentEncoding}}
          <p class='contentEncoding keyword'>
            <b>Content encoding:</b> <code>{{contentEncoding}}</code>
          </p>
        {{/if}}

        {{#if contentMediaType}}
          <p class='contentMediaType keyword'>
            <b>Content media type:</b> <code>{{contentMediaType}}</code>
          </p>
        {{/if}}

        {{!-- Conditional --}}

        {{#isDefined if}}
          <section class='conditionals'>

            <h2>Conditional Valiation Rules</h2>

            <section class='if keyword'>

              <p>The following schema is used for conditional validation:</p>

              {{> schema if}}

            </section>

            {{#isDefined then}}
              <section class='then keyword'>

                <p>If this item validates aginst the conditional schema shown above, it must also validate against the following schema:</p>

                {{> schema then}}

              </section>
            {{/isDefined}}

            {{#isDefined else}}
              <section class='else keyword'>

                <p>If this item does not validate against the conditional schema shown aboe, it must validate against the following schema instead:</p>

                {{> schema else}}

              </section>
            {{/isDefined}}

          </section>
        {{/isDefined}}

        {{!-- Logical --}}

        {{#if allOf}}
          <section class='allOf keyword'>

            <p>This item must also validate against all of the following schemas:</p>

            <ul>
              {{#each allOf}}
                <li>{{> schema this}}</li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{#if anyOf}}
          <section class='anyOf keyword'>

            <p>This item must also validate against at least one of the following schemas:</p>

            <ul>
              {{#each anyOf}}
                <li>{{> schema this}}</li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{#if oneOf}}
          <section class='oneOf'>

            <p>This item must also validate against exactly one of the following schemas:</p>

            <ul>
              {{#each oneOf}}
                <li>{{> schema this}}</li>
              {{/each}}
            </ul>

          </section>
        {{/if}}

        {{#isDefined not}}

          <p>This item must <strong>not</strong> validate against the following schema:</p>

          {{> schema not}}

        {{/isDefined}}

      {{/emptySchema}}

      {{#isDefined default}}
        <section class='default keyword'>

          <h2>Default Value</h2>

          <p>The default value for this item is:</p>

          <code>
            <pre>
{{json default}}
            </pre>
          </code>

        </section>
      {{/isDefined}}

      {{#if examples}}
        <section class='examples keyword'>

          <h2>Examples</h2>

          <p>The following are example values for this schema:</p>

          <ul>
            {{#each examples}}
              <li>
                <code>
                  <pre>
{{json this}}
                  </pre>
                </code>
              </li>
            {{/each}}
          </ul>

        </section>
      {{/if}}

    </details>

  {{/isBoolean}}

</section>
