{{!-- This is the template for the HTML page produced for each schema. --}}

<!DOCTYPE html>
<html lang=en>

  <head>
    <meta charset=utf-8>
    <title>
      {{#if schema.title}}{{schema.title}}{{else}}Schema{{/if}}
    </title>
    <meta name=viewport content='width=device-width'>
    <link rel=stylesheet href="../{{cssFilename}}" type=text/css>
  </head>

  <body>

    {{!-- The documentation for this schema --}}
    <main>{{> schemaTemplate schema}}</main>

    {{!-- The list of schemas, with links to their individual pages --}}
    <nav>
      <h1><a href=../index.html>Home</a></h1>
      <h1>Schemas</h1>
      <ul>
        {{#each nav}}<li><a href="{{filename}}">{{title}}</a></li>{{/each}}
      </ul>
    </nav>

  </body>

</html>
